@page 
@model LoginModel
@{
	ViewData["Title"] = "Login";
}
<div class="container mt-5" style="max-width: 400px;" dir="rtl" lang="fa">
    <h1 class="text-center">Login</h1>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger text-center">
            @Model.ErrorMessage
        </div>
    }
    
    <form method="post">
        <div class="container1">
            <div class="screen">
                <div class="p-5">
                    <div class="pb-1">
                        <label for="UserId" class="form-label">نام کاربری</label>
                        <input type="text" id="UserId" name="UserId" class="form-control" placeholder="نام کاربری خود را وارد کنید" required />
                    </div>
                    <div class="pt-1">
                        <label for="Password" class="form-label">رمز</label>
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="رمز را وارد کنید" required />
                    </div>
                    <button type="submit" class="btn btn-primary mt-5 w-100">ورود</button>
                </div>  
                
            </div>           
        </div>                
              
    </form>
</div>
